@media (max-width: 1600px) {
  .broadcasts__list {
    --offsets: 1;
  }

  .guests__card-desc {
    width: 100%;
  }

  .playlists__container{
    flex-direction: column;
  }

  .wave__image::after {
    width: 25%;
  }

  .wave__content {
    max-width: 48%;
  }

  .about__card-image {
    /* max-width: 90%; */
  }
}

@media (max-width: 1399px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .header__container {
      flex-wrap: wrap;
      padding-top: 28px;
      padding-bottom: 0px;
  }

  .header__logo {
    order: 1;
    width: 14%;
    margin-bottom: 24px;
  }

  .header__search {
    order: 2;
    margin-bottom: 23px;
  }

  .nav {
    order: 3;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 100%;
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
  }

  .nav__list {
    justify-content: space-between;
  }

  .hero__figure-picture img {
    padding-bottom: 35px;
  }


  .hero__desc {
    margin-bottom: 20px;
  }

  .hero__content {
    max-width: 67%;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .hero__container::after {
    scale: 0.71;
    transform: translateX(10px);
  }

  .playlists__head-copy {
    margin-bottom: 40px;
  }

  .playlists__main-list {
    --offsets: 2;
  }

  .playlists__main-card {
    flex-direction: row;
  }

  .playlists__main-item {
    max-height: 112px;
  }

  .playlists__main-card-image {
    max-width: 112px;
  }

  .playlists__main-card::before {
    left: 0;
  }

  .playlists__main-card-content {
    padding: 40px 5px 40px 14px;
  }

  .playlists__main-card-content  {
    min-width: 146px;
  }

  .playlists__container {
    gap: 12px;
  }

  .wave__image {
    align-self: center;
  }

  .wave__container {
    padding-bottom:  119px;
  }

  .about__head {
    width: 65%;
  }

  .about__list {
    --offsets: 1;
  }

  .about__card-image {
    width: 100%;
  }

  .form {
    max-width: 100%;
  }

.about__head::after {
  background-image: url("/img/about__figure-dawn.svg");
}


}

@media (max-width: 991px) {
  .container {
      padding-left:  114px;
      padding-right:  114px;
  }

  .header__logo {
      width: 21%;
  }

  .nav__item {
      font-size: 16px;
      line-height: 16px;
  }

  .nav__list {
      column-gap: 0;
  }

  .hero__container::after {
    display: none;
  }

  .hero__content {
      max-width: 100%;
  }

  .podcasts__list {
    --offsets: 0;
  }

  .broadcasts__list {
    --offsets: 1;
  }

  .broadcasts__container {
    flex-direction: column;
    padding-bottom: 32px;
  }

  .broadcasts__title {
    position: relative;
    margin-bottom: 108px;
  }

  .broadcasts__left-arhive::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -137px;
    width: 100%;
    height: 91%;
    background-image: url(/img/broadcasts-mic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .broadcasts__left {
    order: 1;
    margin: 0;
  }

  .broadcasts__left-arhive {
    display: flex;
    justify-content: center;
    padding-left: 88px;
    order: 2;
    gap: 57px;
  }

  .broadcasts__list  {
    margin-bottom: 28px;
    padding-bottom: 60px;
    border-bottom: 1px solid #E6E8EC;
  }

  .broadcasts__left-arhive-btn {
    margin-bottom: 6px;
  }

  .guests__card {
    flex-direction: column;
  }

  .guests__desc {
    width: 100%;
  }

  .guests__card-image {
    max-width: 540px;
  }

  .guests__card-desc {
    width: 67%;
  }

  .playlists__main-list {
    --offsets: 1;
  }

  .playlists__container {
    padding-bottom: 112px;
  }

  .wave__container  {
    flex-direction: column;
    padding-top: 54px;
    gap: 50px;
  }

  .wave__borderwave {
    margin-bottom: 16px;
  }

  .wave__title {
    max-width: 90%;
  }

  .wave__image::after {
    width: 30%;
    top: 0;
  }

  .wave__content {
    max-width: 100%;
  }

  .wave__desc::before {
    height: 22%;
  }

  .about__head {
    margin-bottom: 26.1%;
    /* margin-bottom: 141px; */
    width: 100%;
  }

  .about__head::after {
    content: '';
    position: absolute;
    top: unset;
    bottom: -110%;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/img/about__figure-vector.svg");
  }

  .form__wrapper {
    flex-direction: column;
    gap: var(--gap);
  }

  .form__input {
    width: 100%;
  }



}

  /* @media (max-width: 480px) { */
  /* @media (max-width: 575px) { */
@media (max-width: 680px) {
  h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
  .offset-section {
      padding-top: 54px;
  }

  .btn {
      padding: 17px 45px;
      font-size: 16px;
  }

  .container {
      padding-left:  32px;
      padding-right:  32px;

  }

  .header__container {
      padding-top: 15px;
  }

  .header__logo {
      margin-bottom: 12px;
  }

  .header__logo {
      width: 34%;
  }

  .nav {
      width: 105%;
      padding-top: 14px;
      padding-bottom: 14px;
  }

  .nav__list {
      column-gap: 28px;
      flex-wrap: nowrap;
      overflow-x: auto;
  }

  .header__search {
      margin-bottom: 12px;
  }

  .hero__content {
    padding-top: 44px;
    padding-bottom: 36px;
  }

  .hero__title {
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 7px;
  }

  .hero__desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .hero__title span {
      font-size: 32px;
      font-style: italic;
      font-weight: 400;
      line-height: 32px;
  }

  .podcasts__card-title {
    margin-bottom: 5px;
  }

  .broadcasts__card-content {
    padding: 10px 13px 12px 10px ;
  }

  .broadcasts__title {
    margin-bottom: 30px;
  }

  .guests__havesome {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }

  .guests__desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
  }

  .guests__card-image {
    max-width: 256px;
  }

  .guests__card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  .guests__card-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
  }

  .guests__btn {
    padding: 9.5px 14.5px;
  }

  .guests__card-desc {
    width: 100%;
    margin-bottom: 30px;
  }

  .playlists__main-card {
    flex-direction: column;
  }

  .playlists__main-item {
    max-height: none;
  }

  .playlists__main-card-image {
    max-width: none;
    width: 100%;
  }

  .playlists__main-card-content {
    max-width: none;
    width: 100%;
  }

  .playlists__main-card {
    max-width: none;
    width: 100%;
  }

  .playlists__main-list {
    --offsets: 2;
  }

  .playlists__main-card-content {
    padding: 10px;
  }

  .playlists__main-card-title {
    font-size: 12px;
    line-height: 12px;
  }

  .playlists__main-card-desc {
    font-size: 9px;
    line-height: 9px;
  }

  .about__head-desc {
    font-size: 14px;
    line-height: 21px;
  }

  .about__head-desc2 {
    font-size: 14px;
    line-height: 21.9px;
  }

  .about__card-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }

  .about__card-desc {
    font-size: 12px;
    line-height: 16px;
  }

  .form__textarea-mail,
  .form__input {
    font-size: 16px;
    line-height: 16px;
  }

  .form__btn {
    font-size: 16px;
    line-height: 16px;
  }

  .form__checkbox-text {
    font-size: 9px;
    line-height: 9px;
  }

  .form__checkbox-text {
    position: absolute;
    transform: translateY(-7px);
  }


}

@media (max-width: 460px) {
  .offset-section {
    padding-top: 55px;
    padding-bottom: 53px;
  }

  .podcasts__card-link  {
    flex-direction: column;
    width: 100%;
  }

  .podcasts__card-date {
    top: -1px;
    bottom: auto;
  }

  .podcasts__title {
    margin-bottom: 20px;
  }

  .podcasts__card-content {
    padding: 30px 0 30px 16px;
  }

  .podcasts__card-desc {
    font-size: 12px;
    line-height: 12px;
  }

  .podcasts__card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .broadcasts__list {
    --offsets: 1;
  }

  .broadcasts__container {
    padding-bottom: 48px;
  }

  .broadcasts__item {
    height: 149px;
  }

  .broadcasts__list {
    padding-top: 0;
  }

  .broadcasts__card-title {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcasts__card-desc {
    font-size: 9px;
    line-height: 9px;
  }

  .broadcasts__card-more {
    font-size: 12px;
    line-height:12px;
  }

  .broadcasts__card-content {
    padding: 10px 10px 12px 10px;
  }

  .broadcasts__card-content {
    flex-direction: column;
  }

  .broadcasts__left {
    margin-right: 0;
    padding-right: 10px;
  }

  .broadcasts__left-arhive {
    padding-left: 67px;
  }

  .broadcasts__left-arhive::before {
    left: -43%;
    top: 4px;
  }

  .broadcasts__left-arhive-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 0;
  }

  .broadcasts__left-arhive-img {
    transform: translateX(-16px);
    margin-bottom: 11px;
  }

  .broadcasts__left-arhive-desc {
    margin-bottom: 7px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .broadcasts__left-arhive-btn {
    width: 110px;
    height: 35px;
    padding: 9.5px 31px;
    order: 1;
  }

  .broadcasts__list  {
    padding-bottom: 30px;
  }

  .guests__list {
    gap: 30px;
  }

  .guests__havesome {
    margin-bottom: 0;
  }

  .guests__desc {
    margin-bottom: 27px;
  }

  .guests__card {
    gap: 11px;
  }

  .guests__btn {
    width: 150px;
  }

  .playlists__main-list {
    --offsets: 1;
  }

  .playlists__head-desc {
    min-width: 256px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .playlists__head-copy {
    font-size: 12px;
  }

  .playlists__main-card::before {
    left: auto;
    right: 0;
  }

  .wave__container {
    padding-bottom:  71px;
  }

  .wave__image::after {
    width: 25%;
  }

  .wave__container {
    padding-top: 58px;
    gap: 38px
  }

  .wave__title {
    max-width: 100%;
  }

  .wave__title {
    margin-bottom: 41px;
  }

  .wave__desc, .wave__desc2 {
    font-size: 14px;
    line-height: 22.4px;
  }

  .wave__desc::before {
    height: 10%;
  }

  .wave__desc {
    margin-bottom: 9px;
  }

  .wave__desc2 {
    margin-bottom: 10px;
  }

  .wave__price {
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 24px;
  }

  .wave__btn {
    padding: 17px 16px 17px 40px;
    font-size: 16px;
    line-height: 16px;
  }

  .about__head {
    margin-bottom: 0;
  }

  .about__head::after {
    display: none;
  }

  .about__head-desc {
    margin-bottom: 4px;
  }

  .about__card-image {
    margin-bottom: 9px;
  }

  .about__card-title {
    margin-bottom: 4px;
  }

  .form__textarea-mail {
    min-height: 150px;
    padding: 17px 24px;
    border-radius: 20px;
  }

  .form__input {
    padding: 16px 24px;
  }

  .form__btn {
    padding: 17px 44.5px;
    max-width: 172px;
  }


}
