/* variables */
:root {
  --main-color: #6D31EE;
  --hover-color: #AA9DFA;
  --focus-color: #AA9DFA;
  --focus-border: 2px solid #4F28A5;
  --active-color: #4F28A5;
  --text-color: #121723;
  --text-desc-color: #A1A6B4;
  --bg-gray-color: #E6E8EC;
  --bg-dark-color: #292E39;

  --ya-main-color: #F0D288;
  --ya-hover-color: #F0D288;
  --ya-focus-color: #BB973E;
  --ya-activ-color: #BB973E;



  --lime-color: #97EE3F;
  --white-color: #FFF;
  --grey-color: #666;
  --font-grey: #CACACA;
  --form-grey: #414141;
  --gap: 30px;
}

/* style */
html {
  box-sizing: border-box;
  line-height: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  line-height: normal;
}

body {
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  color: var(--text-color);
}

img {
  max-width: 100%;
}

/* glob */
.container {
  /* max-width: 1440px; */
  /* padding: 0 165px; */
  /* max-width: 1920px; */
  /* padding: 0 405px; */
  /* max-width: 1110px; */
  padding: 0 21%;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

h1 span {
  font-size: 60px;
  font-style: italic;
  font-weight: 400;
  line-height: 60px;
}

h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.section-title {
  margin: 0;
  color: var(--black-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.offset-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 25px 54px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--main-color);
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  outline: 2px solid var(--active-color);
  background-color: var(--focus-color);
}

.btn:hover {
  background-color: var(--hover-color);
}

.btn:active {
  background-color: var(--active-color);
}

.bg-gray {
  background-color: var(--bg-gray-color);
}

/* header */
.header__container {
  align-items: center;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 31px;
}

.header__logo {
  margin-right: 7.3%;
}

.nav {
  margin-right: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.nav__list {
  column-gap: 58.75px;
}

.nav__link {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  color: var(--white-color);
  background-color: var(--hover-color);
  outline: none;
}

.nav__link:hover {
  color: var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}

.nav__link:active {
  background-color: var(--white-color);
  color: var(--active-color);
  border-bottom: 1px solid var(--active-color);
}


.header__search {
  /* display: flex; */
  justify-content: flex-end;
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.header__search:focus svg path,
.header__search:focus svg rect {
  stroke: var(--hover-color);
  outline: none;
}

.header__search:hover svg path,
.header__search:hover svg rect {
  stroke: var(--hover-color);
}

.header__search:active svg path,
.header__search:active svg rect {
  stroke: var(--active-color);
}

/* hero */
.hero__container {
  justify-content: space-between;
}

.hero__container::after {
  content: '';
  width: 100%;;
  background-image: url("/img/hero-microphone.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 13px;
  transform: translateX(55px);
}

.hero__content {
  max-width: 58%;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero__title{
  margin-bottom: 12px;
}

.hero__desc {
  margin-bottom: 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* podcasts */
.podcasts__title {
  margin-bottom: 30px;
}

.podcasts__list {
  flex-wrap: wrap;
  --offsets: 1;
  gap: var(--gap);
}

.podcasts__item {
  position: relative;
  align-items: center;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  background-color: var(--white-color);
}

.podcasts__card {
  height: 100%;
}

.podcasts__card-image {
  object-fit: cover;
  min-width: 112px;
}

.podcasts__card-date {
  position: absolute;
  bottom: -1px;
  left: 0px;
  background-color: #E6E8EC;
  padding: 3px 8.5px;
  font-size: 10px;
}

.podcasts__card-content {
  padding: 40px 10px 10px 30px;
}

.podcasts__card-time {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.podcasts__card-title {
  margin-bottom: 4px;
}

.podcasts__card-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: var(--text-desc-color);
  transition: color 0.3s ease-in-out;
}

.podcasts__card-link {
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.podcasts__card-link:hover {
  background-color: var(--hover-color);
}

.podcasts__card-link:hover .podcasts__card-desc {
  color: var(--white-color);
}

.podcasts__card-link:focus {
  background-color: var(--hover-color);
}

.podcasts__card-link:focus .podcasts__card-desc {
  color: var(--white-color);
}

.podcasts__card-link:active {
  background-color: var(--active-color);
}

.podcasts__card-link:active .podcasts__card-desc {
  color: var(--white-color);
}

/* broadcasts */
.broadcasts__title {
  position: absolute;
}

.broadcasts__left {
  flex-direction: column;
  justify-content: end;
  margin-right: 32px;
}

.broadcasts__left-arhive::before {
  content: '';
  position: absolute;
  top: -115px;
  left: -93px;
  width: 100%;
  height: 91%;
  background-image: url('/img/broadcasts-mic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.broadcasts__left-arhive {
  position: relative;
}

.broadcasts__left-arhive-img {
  display: block;
  margin-bottom: 21px;
}

.broadcasts__left-arhive-btn {
  margin-bottom: 12px;
  padding: 11px 55px;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid var(--text-color);
  background-color: var(--white-color);
  color: var(--text-color);
  outline: none;
}

.broadcasts__left-arhive-desc {
  color: var(--text-desc-color);
  width: 255px;
}

.broadcasts__list {
  flex-wrap: wrap;
  padding-top: 14px;
  --offsets: 2;
  gap: var(--gap);
}

.broadcasts__item {
  position: relative;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  outline: 1px solid var(--bg-gray-color);
}

.broadcasts__card {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.broadcasts__card-image {
  object-fit: cover;
  width: 100%;
}

.broadcasts__card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px 20px 14px;
  cursor: default;
  height: 100%;
}

.broadcasts__card-title {
  margin-bottom: 4px;
  font-weight: 500;
}

.broadcasts__card-desc {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: var(--text-desc-color);
}

.broadcasts__card-more {
  font-style: italic;
  line-height: 16px;
  cursor: pointer;
  justify-content: end;
}

.broadcasts__card-more {
  transition: all 0.3s ease-in-out;
  outline: none;
}

.broadcasts__card-more:hover {
  color: var(--hover-color);
}

.broadcasts__card-more:focus {
  background-color: var(--hover-color);
}

.broadcasts__card-more:focus {
  color: var(--white-color);
}

.broadcasts__card-more:active {
  color: var(--active-color);
  background-color: var(--white-color);
}

/* guests */
.guests__container h1,
.guests__container h2,
.guests__container h3 {
  color: var(--white-color);
}

.guests__container p {
  color: var(--text-desc-color);
}


.guests__container {
  background-color: var(--text-color);
}

.guests__title {
  margin-bottom: 12px;
}

.guests__havesome {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;

}

.guests__desc {
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 32px;
  width: 70%;
}

.guests__list {
  flex-direction: column;
  gap: 50px;
}

.guests__card {
  gap: var(--gap);
}

.guests__card-image {
  max-width: 432px;
}

.guests__card-content {
  flex-direction: column;
  justify-content: space-between;
  min-height: 272px;
}

.guests__card-title {
  margin-bottom: 10px;
}

.guests__card-desc {
  width: 70%;
  line-height: 28.8px;
}

.guests__btn {
  padding: 12px 19.5px;
  max-width: 160px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: var(--hover-color);
  background-color: var(--text-color);
  outline: 2px solid var(--hover-color);
}

.guests__btn:focus {
  background-color: var(--main-color);
  color: var(--white-color);
}

.guests__btn:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
}

.guests__btn:active {
  background-color: var(--active-color);
}

/* playlists */
.playlists__container {
  justify-content: space-between;
  gap: var(--gap);
}

.playlists__head-title {
  margin-bottom: 12px;
}

.playlists__head-desc {
  line-height: 22px;
  min-width: 350px;
}

.playlists__head-copy {
  margin-bottom: 6px;
  font-style: italic;
  line-height: 22px;
  font-weight: 300;
}


.playlists__main {
  padding-top: 14px;
}

.playlists__main-list {
  flex-wrap: wrap;
  --offsets: 3;
  gap: var(--gap);
}

.playlists__main-item {
  position: relative;
  cursor: pointer;
  border: 1px solid var(--bg-gray-color);
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  transition: background-color 0.3s ease-in-out;
}

.playlists__main-card:hover {
  background-color: var(--hover-color);
}

.playlists__main-card:hover h3 {
  color: var(--white-color);
}

.playlists__main-card:focus {
  background-color: var(--focus-color);
  outline: none;
}

.playlists__main-card:focus h3 {
  color: var(--white-color);
}

.playlists__main-card:active {
  background-color: var(--active-color);
}

.playlists__main-card:active h3 {
  color: var(--white-color);
}

.playlists__main-card:active p {
  color: var(--font-grey);
}

.playlists__main-card {
  flex-direction: column;
}

.playlists__main-card-image {
  width: 100%;
}

.img-flag{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-flag-ru {
  background-image: url('/img/playlists-card-flag-ru.png');
}

.img-flag-en {
  background-image: url('/img/playlists-card-flag-en.png');
}

.playlists__main-card-title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;

}

.playlists__main-card-desc {
  font-size: 12px;
  line-height: 12px;
}

.playlists__main-card-content {
  padding: 15px;
}

/* wave*/
.wave {
  background-color: var(--bg-dark-color);
}

.wave__container {
  background-color: var(--dark-bg-color);
  justify-content: space-between;
  gap: var(--gap);
}

.wave__content {
  max-width: 40%;
}

.wave__borderwave {
  margin-bottom: 19px;
}

.wave__title {
  margin-bottom: 51px;
  color: var(--ya-main-color);
}

.wave__desc {
  position: relative;
  margin-bottom: 12px;
}

.wave__desc::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 116%;
  width: 100%;
  height: 10%;
  background-image: url("/img/wave-offset.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.wave__desc2 {
  margin-bottom: 30px;
}

.wave__desc,
.wave__desc2 {
  line-height: 28.8px;
  color: var(--white-color);
}

.wave__price {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  color: var(--white-color);
}

.wave__btn {
  position: relative;
  padding: 25px 13.5px 25px 41.5px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: var(--ya-main-color);
  border: 2px solid var(--ya-main-color);
  background-color: var(--bg-dark-color);
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  background-image: url("/img/ya.svg");
  background-repeat: no-repeat;
  background-position: 10px;
}

.wave__btn:focus {
  outline: 2px solid var(--ya-focus-color);
  background-color: var(--ya-focus-color);
  color: var(--text-color);
}

.wave__btn:hover {
  background-color: var(--ya-hover-color);
  border-color: var(--ya-hover-color);
  color: var(--text-color);
  background-image: url("/img/ya-hover.svg");
}

.wave__btn:active {
  background-color: var(--ya-activ-color);
  border-color: var(--ya-activ-color);
  background-image: url("/img/ya-active.svg");
}

.wave__ya {
  position: absolute;
  left: 13px;
}

.wave__image {
  position: relative;
}

.wave__image img {
  width: 100%;
  height: auto;
  display: block;
}

.wave__image-new {
  position: absolute;
  top: 0px;
  left: 0px;
}













/* footer */
.footer__container {
  padding: 28px 0;
  gap: 30px;
  color: var(--white-color);
  text-align: center;
  background-color: #2E2B44;
  background-color: #000;
}

.footer__copyr {
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  background-color: red;
}


